.navbar{
    background-color: rgb(24, 24, 24);
    height: 50px;
    border-bottom:1px solid red ;
    width:100vw;
}
.search{
    margin: 15px 515px;
    width: 350px;
    height: 20px;
    background-color: white;
    color: black;
}
.icon{
    background-color: gray;
    width: 24px;
    height: 24px;
    margin: -39px 875px
}
.mic{
    
  width: 24px;
  height: 24px;  
  margin: 1% 0 0 60%;
 
}
.options{
    
    width: 100px;
    margin: -36px 82%;
    
    display: flex;
    padding: 0px 20px;
}

.related{
    display: flex;
    overflow-x: 0;
    padding: 10px 40px;
    margin: 2.3% 0 0 10%;
    border-bottom: 1px solid gray;
    background-color: #181818;
    border-top: 1px solid gray;
   

}
.related button{
    padding: 7px 10px;
    margin: 0px 20px;
    border-radius: 40px;
}
.related button:hover{
    background-color: bisque;
}
.main2{
   display: grid;
   grid-template-columns: 22% 22% 22% 22%;
   width: calc(100vw - 170px);
   margin-left:270px ;
   background-color: #181818;
   margin-top: 40px;
   
}
.information{
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 90%;
    width:80%;
}